@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: iranyekan ,roboto ,Arial !important;
	direction: rtl;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: iranyekan ,roboto ,Arial !important;
}
h1 {
	font-weight: bold;
}
.ltr {
	direction: ltr;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-small {
	font-size: 0.8em;
}
.text-xsmall {
	font-size: 0.6em;
}
.text-large {
	font-size: 1.2em;
}
.text-xlarge {
	font-size: 1.4em;
}
.text-underline {
	text-decoration:underline;
}
.text-ultralight {
	font-weight: 200;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
.footer {
	font-weight: 300;
	font-size: 0.7em;
	text-align: center;
	direction: ltr;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#login{
	margin: 5% auto;
}
.margin-top30{
	margin-top: 30px;
}
.desktop .large-btn{
	padding: 20px;
}
.wall{
	background: url(../images/wall.jpg);
	background-size: cover;
}
.m500{
	max-height: 500px;
	overflow-y: scroll;
}
table tr:hover td, table tr:hover th{ background: #bbb; color: #fff; cursor: pointer; }
.light{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
	z-index: 999999999999999999;
}
.red{
	color: red;
}
#p-3, #p-2, #p-1{
	display: none;
}